body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: rgb(255, 255, 255); 
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right, #c1b4ae, #92160c);
}

/* Styling the 5-Day Cards */
.fiveDayForecast {
    display: flex;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
}

.five-day-cards {
    list-style: none;
    padding: 0;
    display: flex;
}

.card {
    flex: 0 0 calc(20% -10px);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* style for the input and button elements */
.input {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
}

.city-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-btn {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Styles the Search History section */
#searchHistory {
    background-color: #e0e0e0;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Current Weather section */
.current-weather {
    background-color: #c1b4ae;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    /* color: #fff; */
}